In [1]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')
from nltk import sent_tokenize
from nltk import word_tokenize
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jadha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\jadha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\jadha\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jadha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
text='Real madrid is set to win the UCL for the season . Benzema might winning Balon dor . Salah might be the runner up'

In [3]:
tokens_sents = nltk.sent_tokenize(text)
print(tokens_sents)

['Real madrid is set to win the UCL for the season .', 'Benzema might winning Balon dor .', 'Salah might be the runner up']

In [4]:
tokens_words = nltk.word_tokenize(text)
print(tokens_words)

['Real', 'madrid', 'is', 'set', 'to', 'win', 'the', 'UCL', 'for', 'the', 'season', '.', 'Benzema', 'might', 'winning', 'Balon', 'dor', '.', 'Salah', 'might', 'be', 'the', 'runner', 'up']

In [5]:
from nltk.stem import PorterStemmer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem import LancasterStemmer

In [6]:
stem=[]
for i in tokens_words:
  ps = PorterStemmer()
  stem_word= ps.stem(i)
  stem.append(stem_word)
print(stem)

['real', 'madrid', 'is', 'set', 'to', 'win', 'the', 'ucl', 'for', 'the', 'season', '.', 'benzema', 'might', 'win', 'balon', 'dor', '.', 'salah', 'might', 'be', 'the', 'runner', 'up']

### Lemmatization

In [7]:
import nltk
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer()

In [8]:
lemmatized_output = ' '.join([lemmatizer.lemmatize(w) for w in stem])
print(lemmatized_output)

real madrid is set to win the ucl for the season . benzema might win balon dor . salah might be the runner up

In [9]:
leme=[]
for i in stem:
  lemetized_word=lemmatizer.lemmatize(i)
  leme.append(lemetized_word)
print(leme)

['real', 'madrid', 'is', 'set', 'to', 'win', 'the', 'ucl', 'for', 'the', 'season', '.', 'benzema', 'might', 'win', 'balon', 'dor', '.', 'salah', 'might', 'be', 'the', 'runner', 'up']

### Part of Speech Tagging

In [10]:
print("Parts of Speech: ",nltk.pos_tag(leme))

Parts of Speech:  [('real', 'JJ'), ('madrid', 'NN'), ('is', 'VBZ'), ('set', 'VBN'), ('to', 'TO'), ('win', 'VB'), ('the', 'DT'), ('ucl', 'NN'), ('for', 'IN'), ('the', 'DT'), ('season', 'NN'), ('.', '.'), ('benzema', 'NN'), ('might', 'MD'), ('win', 'VB'), ('balon', 'NN'), ('dor', 'NN'), ('.', '.'), ('salah', 'NN'), ('might', 'MD'), ('be', 'VB'), ('the', 'DT'), ('runner', 'NN'), ('up', 'RP')]

### Stop Word

In [11]:
sw_nltk = stopwords.words('english')
print(sw_nltk)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [12]:
words = [word for word in text.split() if word.lower() not in sw_nltk]
new_text = " ".join(words)
print(new_text)

Real madrid set win UCL season . Benzema might winning Balon dor . Salah might runner

In [13]:
import pandas as pd
import numpy as np

In [29]:
corpus=['data science is one of the most important fields of science','this is one of the best data science courses','data scientists analyse data']

In [30]:
words_set=set()

for doc in corpus:
    words=doc.split(' ')
    words_set=words_set.union(set(words))
print('Number of words in corpus:',len(words_set))
print('The words in the corpus:\n',words_set)

Number of words in corpus: 14
The words in the corpus:
 {'the', 'one', 'best', 'data', 'science', 'fields', 'analyse', 'scientists', 'important', 'this', 'of', 'is', 'courses', 'most'}

In [31]:
n_docs=len(corpus)
n_words_set=len(words_set)
df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=list(words_set))
for i in range (n_docs):
    words=corpus[i].split(' ')
    for w in words :
        df_tf[w][i] = df_tf[w][i] + (1/len(words))
df_tf

,the,one,best,data,science,fields,analyse,scientists,important,this,of,is,courses,most
0,0.090909,0.090909,0.000000,0.090909,0.181818,0.090909,0.00,0.00,0.090909,0.000000,0.181818,0.090909,0.000000,0.090909
1,0.111111,0.111111,0.111111,0.111111,0.111111,0.000000,0.00,0.00,0.000000,0.111111,0.111111,0.111111,0.111111,0.000000
2,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.25,0.25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [32]:
print("IDF of: ")

idf={}

for w in words_set:
    k=0   # nof doc in the corpus that contain this word
    
    for i in range (n_docs):
        if w in corpus[i].split():
            k+=1
    
    idf[w] = np.log10(n_docs/k)
    print(f'{w:>15}:{idf[w]:>10}')

IDF of:
            the:0.17609125905568124
            one:0.17609125905568124
           best:0.47712125471966244
           data:       0.0
        science:0.17609125905568124
         fields:0.47712125471966244
        analyse:0.47712125471966244
     scientists:0.47712125471966244
      important:0.47712125471966244
           this:0.47712125471966244
             of:0.17609125905568124
             is:0.17609125905568124
        courses:0.47712125471966244
           most:0.47712125471966244

In [34]:
df_tf_idf= df_tf.copy()

for w in words_set:
    for i in range(n_docs):
        df_tf_idf[w][i] = df_tf[w][i] * idf[w]

df_tf_idf

,the,one,best,data,science,fields,analyse,scientists,important,this,of,is,courses,most
0,0.016008,0.016008,0.000000,0.0,0.032017,0.043375,0.00000,0.00000,0.043375,0.000000,0.032017,0.016008,0.000000,0.043375
1,0.019566,0.019566,0.053013,0.0,0.019566,0.000000,0.00000,0.00000,0.000000,0.053013,0.019566,0.019566,0.053013,0.000000
2,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.11928,0.11928,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000